.container{
    font-size: 3em;
    color: #fff;
}
.tic{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background: #000;
}
.tic td{
    width:150px;
    height: 150px;
    border: 2px solid rgb(245,222,179);
}
.modal-content{
    margin-top: 25%;
    padding: 15px;
}
.modal-header,.modal-body{
    background-color: #000;
}